*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.text{
    color: white;
}
.balance-wrapper{
    width: 40% ;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 13px 40px;
    background-color: #ec755d;
    border-radius: 7px;
    margin-bottom: 20px;
}
